html, body, .viewport {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 150%;
    font-weight: bold;
}

.absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8px;
}

.absolute-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
}

.main {
    margin: 0.25vw;
    display: inherit;
    flex-wrap: inherit;
}

.build-item {
    position: relative;
    flex-grow: 1;
    min-width: 49vw;
    margin: 0.25vw;
    color: white;
}

.build-item-success {
    background: green;
}

.build-item-failure {
    background: red;
}

.build-item-unknown {
    background: lightgrey;
}
