<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teamcity Build Monitor</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="../static/css/build-monitor.css" th:href="@{/css/build-monitor.css}"/>
</head>
<body>
<div id="main" class="main"></div>
<script th:inline="javascript">
    var TEAMCITY_URL = [[${teamcityUrl}]];
</script>
<script src="/webjars/timeago.js/3.0.0/dist/timeago.min.js"></script>
<script src="../static/js/build-monitor.js" th:src="@{/js/build-monitor.js}"></script>
</body>
</html>
